/*
================================================== Theme by Dmytro Lutsenko ==================================================
================================================== https://dmytrolutsenko.com ==================================================

================================================== Table of Contents ==================================================
0. General styles (fonts, colors, etc)
1. Navbar
2. Carousel
3. About
4. Features
5. Courses
6. Testimonials
7. Contact us
8. Footer
9. Responsive design (@media queries)
================================================== Thank you for using Educatio theme! ==================================================
*/

/*
================================================== 0. General styles & Theme ==================================================
*/
@import "../node_modules/bootstrap/scss/bootstrap";

//$primary:  
//$secondary:
//$success:  
//$info:     
//$warning:  
//$danger:   
//$light:    
//$dark:     

$primary: rgb(14, 6, 30) !important;
$light-green: rgb(225, 244, 229) !important;
$accent: #0071B6 !important;
$secondary: rgb(246, 242, 252) !important;

// Font
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

$font-stack: 'Poppins', Arial, "Helvetica Neue", Helvetica, sans-serif;

body {
    font-family: $font-stack;
    scroll-behavior: smooth;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.btn-primary { 
    background-color: $primary;
    border: 1px solid $primary;
    &:hover {
        background-color: $primary;
        border: 1px solid $primary;
    }
}

.bg-accent {
    background-color: $accent;
}
.text-accent {
    color: $accent;
}

.bg-primary {
    background-color: $primary;
}
.text-primary {
    color: $primary;
}

// *Disallow user interacting with the element
.no-interaction {
    -webkit-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
}

/*
================================================== 1. Navbar ==================================================
*/

.nav-custom {
    z-index: 1000;
}

.img-custom {
    max-height: 36px;
    /* TODO Come up with some fancy animation when hovering over the img-logo.
    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: linear-gradient(90deg, $accent, $primary-btn);
        opacity: 0.5;
    }
    */
}

/*
================================================== 2. Carousel ==================================================
*/

#carouselPrimary .carousel-inner {
    height: 700px;
    width:100%;
    img {
        background-size: cover;
    }
}

#carouselPrimary .carousel-caption {
    bottom: 65%;
}

/*
================================================== 3. About ==================================================
*/

/*
================================================== 4. Features ==================================================
*/

.feature-icons i {
    font-size: 100px;
}

/*
================================================== 5. Courses ==================================================
*/

/*
================================================== 6. Testimonials ==================================================
*/

/*
================================================== 7. Contact us ==================================================
*/


/*
================================================== 8. Footer ==================================================
*/

#btn-back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    border-radius: 50% !important;
    border: 0;
    padding: 8px 13px;
    z-index: 100;
    filter: drop-shadow(4px 4px 2px rgb(14, 6, 30));
    }

    
/*
================================================== 9. Responsive design ==================================================
*/